<xml>
<!-- 	<ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
	<FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
	<CreateTime><%= Time.now.to_i %></CreateTime>
	<MsgType><![CDATA[music]]></MsgType> -->
	<Music>
		<Title><![CDATA[Test Music]]></Title>
		<Description><![CDATA[Music DESCRIPTION]]></Description>
		<MusicUrl><![CDATA[https://dl-web.dropbox.com/get/music/%E5%A4%B1%E6%81%8BStyle.mp3?w=AADCW5tYKC2uKBSN93mUvTJlJjxJiqMLhk2KxT-5jJ3Agw]]></MusicUrl>
		<HQMusicUrl><![CDATA[]]></HQMusicUrl>
	</Music>
 </xml>