<div class="btn-group">
  <a class="dropdown-toggle btn btn-default btn-small" href="#" data-toggle="dropdown">
    <i class="icon-list-alt"></i>
    Columes
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu model_fields pull-right" aria-labelledby="dLabel" role="menu">
    <li>
      <a href="?">
        <i class="icon-refresh"></i>
        Restore Selected
      </a>
    </li>
    <li class="divider"></li>
    <li>
      <a href="?_cols=id.name">
        <i class="icon-blank"></i>
        ID
      </a>
    </li>
    <li>
      <a href="?_cols=">
        <i class="icon-check"></i>
        name
      </a>
    </li>
    <li>
      <a href="?_cols=name.order">
        <i class="icon-blank"></i>
        order
      </a>
    </li>
  </ul>
</div>