<div class="btn-group layout-btns" data-toggle="buttons">
  <label class="btn btn-default btn-small layout-normal active">
    <input type="radio"> <i class="icon-th-large"></i>
  </label>
  <label class="btn btn-default btn-small layout-normal layout-condensed">
    <input type="radio"> <i class="icon-th"></i>
  </label>
</div>
<div class="btn-group layout-btns" data-toggle="buttons">
  <label class="btn btn-default btn-small layout-full">
    <input type="checkbox"> <i class="icon-fullscreen"></i>
  </label>
</div>